.ageGroupSelectContainer {
	width: 240px;

	label {
		color: var(--grey3);
	}

	.ageGroupSelectGroup {
		display: flex;
		margin-top: 8px;

		.tilde {
			border: 1px solid var(--grey2);
			border-left: 0;
			border-right: 0;
			height: 40px;
			width: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: var(--grey1);
			font-size: 16px;
		}

		.ageGroupSelect {
			width: 100%;
			border: 1px solid var(--grey2);
			text-indent: 8px;
			cursor: pointer;

			&:first-child {
				border-radius: 4px 0 0 4px;
			}
			&:last-child {
				border-radius: 0 4px 4px 0;
			}

			.disableColor {
				color: var(--grey2);
			}
		}
	}

	.errMsgWrap {
		width: 100%;
		background-color: var(--dangerLight);
		border-radius: 4px;

		h6 {
			font-weight: normal;
			margin: 0;
			padding: 6px 8px;
			color: var(--danger);
		}
	}
}
